
{% block subject %} Notifiacation about your Ward {{student}}{% endblock %}

{% block html_body %}

<p style="font-size: 20px; font-family: Georgia, 'Times New Roman', Times, serif; "> 
    You're receiving this email because your ward <strong>{{student}}</strong> has been added as a debtor on our platorm by the administrators of <strong>{{school}}</strong>
</p>

<p>Kindly visit <a style="text-decoration: none;" href="http://localhost:8000">Studebt.com</a> to sign up and view more details of his/her debt status </p>

{% endblock html_body %}





